<form [formGroup]="jsonForm">
  <textarea
    formControlName="jsonInput"
    placeholder="Cole aqui o JSON"
  ></textarea>

  <select formControlName="language">
    <option value="" disabled selected>Selecione o idioma</option>
    @for(lang of languages; track lang.code){
    <option [value]="lang.code">
      {{ lang.language }}
    </option>
    }
  </select>

  <button type="submit" (click)="onSubmitJson()" [disabled]="!jsonForm.valid">
    Traduzir JSON
  </button>
</form>

<string-response-block
  [response]="jsonTranslationResult()"
  [isJson]="true"
></string-response-block>
