<div class="tabs-container">
  <!-- Cabeçalho das abas -->
  <div class="tabs-header">
    <button
      class="tab-btn"
      [class.active]="activeTab() === 'phrase'"
      (click)="activeTab.set('phrase')"
    >
      Phrase Traduction
    </button>

    <button
      class="tab-btn"
      [class.active]="activeTab() === 'json'"
      (click)="activeTab.set('json')"
    >
      JSON Traduction
    </button>
  </div>

  <!-- Conteúdo das abas -->
  <div class="tabs-content">
    @if (activeTab() === 'phrase') {
    <phrase-form [languages]="languages()" />
    } @else {

      <json-form [languages]="languages()" />
    }
  </div>
</div>
